.main-container {
	max-width: 1500px;
	margin-right: 25%;
    margin-left: 25%;
}

.main-form {
}

.time-date-inputs {
	width: 28%;
}

.user-seaches-div {
	margin: 10px;
}

.searches-flex {
	display: flex;
}

.search-display {
	flex-direction: row;
	border: none;
	margin: 10px;
	width: 33%;
}

.button-content {
	width: 200px;
	font-size: 12px;
	text-align: left;
}

.search-display-flex {
	display: flex;
}

.subselect-form {
	margin: 10px;
}

.delete-search-button {
}

.btn:focus {
	border: ;
}